.section2{
  height: 500px;
}
.section2--cardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section2--card-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  margin: 5px;
}

.section2--card-text {
  width: 324px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin: 5px;
}

.section2--card-price {
  margin: 5px;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
}

@media (max-width: 744px) {
  .section2 {
    height: 410px;
  }
}