.main--section1 {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.main--section1-left-text {
  margin: 120px 200px;
  font-weight: 500;
  font-size: 64px;
  line-height: 100%;
}

.main--section1-right-text {
  font-weight: 500;
  font-size: 23px;
  line-height: 140%;
  width: 500px;
  height: 96px;
  margin: 120px 100px;
}

@media (max-width: 744px) {
  .main--section{
    width: 744px;
  }
  .main--section1-right-text {
    margin: 0px 24px;
    font-size: 23px;
    width: 288px;
  }
  .main--section1-left-text {
    margin: 100px 70px;
    font-size: 48px;
  }
}

